.CreateTodoButton {
  background-color: rgba(35, 156, 8, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  z-index: 1;

  transform: rotate(0);
  transition: .3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}

.CreateTodoButton.empty-todos {
  animation: blink 1.2s infinite; /* Animación más lenta para resaltar */
}

/* Animación de parpadeo */
@keyframes blink {
  0%, 100% {
    box-shadow: 0 0 50px 15px rgba(35, 156, 8, 0.9); /* Sombra más intensa y amplia */
  }
  50% {
    box-shadow: 0 0 70px 25px rgba(35, 156, 8, 0.5); /* Mayor alcance y suavidad */
  }
}