body {
  margin: 0;
  padding: 0;
  background-color: khaki;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}